CLASE6/code_node_red.json
[
    {
        "id": "9322cc0c92b6b515",
        "type": "mqtt in",
        "z": "b41824a0ce8522f2",
        "name": "",
        "topic": "canalx",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "85e6a4f623c5ac7c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 140,
        "wires": [
            [
                "9b1f0c23e0eac114",
                "9f3fa8676ea50579"
            ]
        ]
    },
    {
        "id": "9f3fa8676ea50579",
        "type": "debug",
        "z": "b41824a0ce8522f2",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "9b1f0c23e0eac114",
        "type": "function",
        "z": "b41824a0ce8522f2",
        "name": "function 4",
        "func": "var lati = msg.payload.split(\",\")[0];\nvar longi = msg.payload.split(\",\")[1];\nmsg.payload = {\n                \"name\":\"QC\", \n                \"lat\":lati, \n                \"lon\":longi,\n                 \"command\": { \n                                \"layer\":\"OSM\", \n                                \"lat\": lati, \n                                \"lon\":longi, \n                                \"zoom\":14 }};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 220,
        "wires": [
            [
                "f97dd74f3e193aa9"
            ]
        ]
    },
    {
        "id": "f97dd74f3e193aa9",
        "type": "worldmap",
        "z": "b41824a0ce8522f2",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN",
        "maplist": "OSMG,OSMC,EsriC,EsriS,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "85e6a4f623c5ac7c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
